<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Development logs: human readable -->
    <springProfile name="dev">

        <appender name="CONSOLE"
                  class="ch.qos.logback.core.ConsoleAppender">

            <encoder>
                <pattern>
                    %d{yyyy-MM-dd HH:mm:ss.SSS}
                    [%thread]
                    %-5level
                    [%X{correlationId}]
                    [%X{tradeRef}]
                    %logger{36}
                    - %msg%n
                </pattern>
            </encoder>

        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>

    </springProfile>


    <!-- UAT and Production logs: JSON -->
    <springProfile name="uat,prod">

        <appender name="JSON_CONSOLE"
                  class="ch.qos.logback.core.ConsoleAppender">

            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

        </appender>


        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>

    </springProfile>


</configuration>